# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Certificati locali
*.crt
*.key
# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Certificati locali
*.crt
*.key
